[submodule "extern/chrono_ros_interfaces"]
	path = extern/chrono_ros_interfaces
	url = https://github.com/MaximusSparticus/chrono_ros_interfaces.git
[submodule "extern/chrono"]
	path = extern/chrono
	url = https://github.com/MaximusSparticus/chrono.git
