[submodule "src/chrono_ros_interfaces"]
	path = src/chrono_ros_interfaces
	url = https://github.com/MaximusSparticus/chrono_ros_interfaces.git
[submodule "src/chrono/extern/chrono"]
	path = src/chrono/extern/chrono
	url = https://github.com/MaximusSparticus/chrono.git
